@font-face {
    font-family: chopin;
    src: url(../../fonts/paladin.ttf);
  }

.flexbox50 {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}
.flexboxcontainer {
    display: flex;
    flex-wrap: wrap;
}
.frame2 {
    width:100%;
    margin: 5% 0 5% 0;
}
.frame2.img {
    margin: 5% 0 5% 0;
}
.textbox {
    padding: 0 2% 1% 2%;
    text-align: justify;
}
.melist{
    font-size: 1.8vh;
    text-align: left;
}
.fulltitle {
    color: black;
    text-decoration: underline;
    text-align: center;
    font-size: 3vh;
    font-family: elektra;
}
@media (max-width: 999px) {
    .flexbox60 {
        width: 100%;
        display: inline-block;
    }
    .flexbox20 {
        display: none;
        width: 0%;
    }
}
@media (min-width: 1000px) {
    .flexbox60 {
        width: 55%;
        display: inline-block;
    }
    .flexbox20 {
        display: inline-block;
        width: 19%;
    }
}