@keyframes linkblink {
    from {color: #3E3ED0;}
    to {color: red;}
}
@font-face {
    font-family: elektra;
    src: url(../../fonts/elektra.ttf);
}
*{
    padding:0;
    margin: 0;
}
a:visited {
    color: #3E3ED0;
}
section {
    background-color: #E5EADC;
    border: 2px solid #3E3ED0;
    margin: 3% 0 3% 0;
}
aside img {
    width: 80%;
    margin: 5% 10% 5% 10%;
}
aside {
    margin-top: 3%;
    vertical-align: top;
}
#content {
    background-color: white;
    width: 100%;
    text-align: center;
    color: #090934;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.flexbox3side {
    display: inline-block;
    width: 20%;
}     
.flexbox3middle {
    width: 59%;
    display: inline-block;
    max-width: 80%;
}
footer {
    background-color: #090934;
    color: #3E3ED0;
    text-align: right;
    line-height: 150%;
}
#gitlink {
    text-decoration: none;
    color: #448D76;
}
#gitlink:visited {
    color:#448D76;
}
h2 {
    color: #3E3ED0;
    text-decoration: underline;
    font-family: elektra;
    margin-top: 3%;
    margin-bottom: 3%;
}

h1 {
    background-color:  #3E3ED0;
    color:white;
    padding: 1%;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
}
.logo {
    width: 50%;
    border: 2px solid black;
}
main a {
    display: block;
    margin: 3% 0 3% 0;
    font-size: 1.5em;
    text-decoration: none;
    color:  #3E3ED0; 
    animation-name: linkblink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
main h2 a {
    font-size: 1em;
}
p {
    padding: 1% 2% 1% 2%;
    text-align: justify;
}
p:first-of-type {
    margin-top: 3% ;
}
p:last-of-type {
    margin-bottom: 2%;
}
#profilePic {
    float:right;
    position: relative;
    margin-top: 4%;
    right: 8%;
}
h3 {
    text-decoration: underline;
    margin: 3% auto 3% auto;
}
ul{
    margin-left: 10%;
    text-align: left;
    margin-bottom: 3%;
}

@media (max-width: 999px) {
    .flexbox3side {
        display: none;
        width: 0%;
    }
    .flexbox3middle {
        width: 90%;
        display: inline-block;
        margin-left: 10%;
        margin-right:5%;
    }
}
@media (max-width: 1200px) {
    #profilePic {
        display:none;
    }
}