@keyframes linkblink {
    from {color: #3E3ED0;}
    to {color: red;}
}
@font-face {
    font-family: elektra;
    src: url(../../fonts/elektra.ttf);
  }

body {
    background-color: white;
    color: #090934;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1vw;
}
.done {
    text-decoration: line-through;
}      
.flexbox3middle {
    width: 40%;
    display: inline-block;
    max-width: 80%;
}
footer {
    margin: 0;
    padding: 0.5% 0.5% 0.5% 0.5%;
    background-color: #090934;
    color: #3E3ED0;
    text-align: right;
}
.frame {
    width:100%;
    margin: 5% 0 5% 0;
}
.frame img {
    width:50%;
}
.gallery {
    vertical-align: top;
}
.gitlink {
    text-decoration: none;
    color: #448D76;
}
.gitlink:visited {
    color:#448D76;
}
.intro{
    font-size: 1.8vw;
    font-family: elektra;
}
.link {
    text-decoration: none;
    color:  #3E3ED0; 
    font-size: 2.5vw;
    animation-name: linkblink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.link:visited {
    color: #3E3ED0;
}
.list{
    font-size: 1.5vw;
    text-align: left;
    margin: 3%;
}
.melink:visited {
    color: #090934;
}
.project {
    background-color: #E5EADC;
    border: 2px solid #3E3ED0;
    margin: 2% auto 2% auto;
}
.subtitle {
    color: #3E3ED0;
    text-decoration: underline;
    text-align: center;
    font-size: 2vw;
    font-family: elektra;
}
.tick{
    width:3%;
}
.title {
    background-color:  #3E3ED0;
    color:white;
    padding: 1%;
    text-align: center;
    font-size: 2.5vw;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: bold;
    margin-top: 0;
}
.title span {
    font-size: 2vw;
    text-decoration: underline;
}
.logo {
    width: 50%;
    margin: auto;
    padding: 2px;
    border: 2px solid black;
}
@media (min-width: 1000px) {
    .flexbox3side {
        display: inline-block;
        width: 20%;
    }
    .flexbox3middle {
        width: 55%;
        display: inline-block;
    }
}
@media (max-width: 999px) {
    .flexbox3side {
        display: none;
        width: 0%;
    }
    .flexbox3middle {
        width: 80%;
        display: inline-block;
    }
}