<h3>Learning Experience</h3>
<p>
  Whilst this project was tough initially I feel it has given me a level of understanding of how websockets can 
  be used for continuous information
</p>
<h3>Web sockets</h3>
<p>
  I struggled a little initially with the concept of web sockets mainly because I feel I didn't read enough 
  before trying to build the application. Once I had a clear understanding of namespaces and events development
  progressed much more quickly and I was able to implement the required functionality ok. Again I would say the 
  flask documentation was not the most expansive with it's explanations so I ended up learning a lot through 
  trial and error.
</p>
