<h3>Learning Experience</h3>
<h4>Angular</h4>
<p>
  Having never worked with Angular before I learnt alot about how the
  framework is structured and how to use the cli.
</p>
<p>
  As I built the application I learnt how to build components and also how to
  apply animations to component and route transitions. I also learnt how to
  build feature modules and how to route to children components of these
  modules.
</p>
<p>
    Much of the text on the portfolio section is hard-coded which I will move
    to my database with time to be served asynchronously with time.
</p>
<h4>Http Headers</h4>
<p>
    Whilst I have used APIs requiring tokens during a REACT course on
    codecademy this is the first time I have personally built an api that
    requires token authentication in the headers. I actually found this to be
    relatively easy using the documentation from Flask and Angular.
</p>
<h4>Python Modules</h4>
<p>
  As I suggested in my comments about the Veterinary Calculations Practice App
  I have used Python modules and my routes for my API are much shorter than my
  previous attempts which is very pleasing. I also used the Python
  <a href='https://www.python.org/dev/peps/pep-0008/' target='_blank'>
    style guide
  </a>
  to name
  my variables and functions.
</p>
