<h3>Learning Experience</h3>
<p>
  My fourth stack development application but my first using the Django web framework.
</p>
<h3>Django</h3>
<h4>Models</h4>
<p>
  The Django database ORM uses python classes to model tables similar to SQLAlchemy. The documentation
  associated with Django is much easier to follow and understand than that associated with Flask which 
  made building the models much quicker and easier. Also with the abstraction of changes to the database
  in the form of migrations, database management is much simpler.
</p>
<p>
  The implementation of content types is a nice way of generating relationships between our database tables
  and allows the use of generic foreign keys which was very useful in the order model.
</p>
<h4>User Groups</h4>
<p>
  Django allows the implentation of user groups which gives the designer the ability to only show certain
  tabs to users that require them. In this example the Owner user group is able to see the orders that have
  been placed and is able to mark the orders as complete. 
</p>
<h3>Cookies</h3>
<p>
  Everyone knows about cookies these days with GDPR, however this was my first time using them myself.
  A basket cookie is used to store the contents of a user basket for 24 hours so should a user navigate
  away from the page the basket contents remain.
</p>
