<h3>Project Aims</h3>
<p>
  This project was the capstone of my experience with the Harvard CS50
  computer science certificate.
</p>
<p>
  The idea behind the project was to try to develop a web based application
  to help train Veterinarians and Veterinary Nurses in the various
  calculations that are required to be carried out by a qualified professional
</p>
<p>
  I decided the project should have 3 goals:
</p>
  <ol>
    <li>The function to teach a student the calculations necessary</li>
    <li>The option to answer practice questions without fear of failure</li>
    <li>The option to test and record a students own results</li>
  </ol>
