<h2>Project Overview</h2>
<p>
  Books is a book review website which uses the <a href="http://www.goodreads.com" target='_blank'>goodreads API</a>. 
  It offers the ability for a user to search for a book using the ISBN, book title or author's name. The information 
  is then returned combined with information from the goodreads API for average ratings and the number of ratings.
</p>
<p>
  Books also offers it's own API service which will return the details of the book request using the api/&lt;ISBN&gt; route.
</p>
<p>
  The site is currently being hosted on <a href="https://david-barker-books.herokuapp.com/" target='_blank'>heroku</a>
  and the full code can be found on my <a href="https://github.com/RVJonah/Books" target='_blank'>github</a>.
</p>