<h3>Lessons - Learning experience</h3>
<p>
  This project was created after doing the Harvard CS50 course and the
  PluralSight HTML5 and CSS courses so the basic layout was realtively quick.
  The main challenges I encountered here was working with the positioning for
  CSS grid layout and the use of embed media.
</p>
<h4>CSS Grid</h4>
<p>
  I found CSS Grid quite intuitive except next time I would improve the naming
  of my grid areas to be a little more descriptive than center, right and left
  especially as they become top and bottom as the page responds to narrower
  screen widths. I was pleased with the overall effect and ease with which is
  granted control over element positioning on the page.
</p>
<h4>BootStrap</h4>
<p>
  Another grid system which again allows easy control over element positioning
  on the page without the need for writing more complex CSS code. For a web
  designer Bootstrap is an incredibly useful library as it provides a wide
  range of user experience and user interface solutions which can be quickly
  added to any web page with ease.
</p>
