<h3>Overview</h3>
<p>
  This project is probably the most complex project I have written, involving
  frontend and backend technologies. It was the final project for my Harvard
  CS50 course. I have developed this app through many iterations including
  writing it first as a simple Python app, then in C++ and finally decided to
  deploy a web version as my final project.
</p>
<p>
  I am currently hosting this app on my other Heroku hobby server
  <a href='https://vet-calc.herokuapp.com/' target='_blank'>
    here
  </a>.
</p>
<p>
  The full code base for this project can be found on my
  <a href='https://github.com/RVJonah/VetCalculationsPractice' target='_blank'>
    Github
  </a>.
</p>
