<h2>Project Overview</h2>
<p>
  Pinochio's is a website for a pizza and sub restaurant. The site is designed to function for both client users and owner users.
</p>
<p>
  The client user is able to log in to the website and create, edit and send an order. Once sent the client is able to monitor the progress
  of their order via the My Orders page. Once complete the client is sent an email to say that their order has been completed.
</p>
<p>
  The owner is able to login to the site and see any orders placed on that day. They are also able to mark any orders as completed.
  The owner is also able to login to the /admin route to edit the menu to add, remove any items or changes prices as required.
</p>
<p>
  The site is currently being hosted on <a href="https://david-barker-pinochios.herokuapp.com/" target='_blank'>heroku</a>
  and the full code can be found on my <a href="https://github.com/RVJonah/Pinochios" target='_blank'>github</a>.
</p>
