.button{
  text-align: center;
  margin: 0 auto 1% auto;
  button {
    width: 10%;
  }
}
.wrapper {
  margin: 1% auto 0 auto;
  width: 65%;
  height: 36vw;
  max-height: 37em;
  span {
    position: absolute;
    width: 65%;
    max-width: 1040px; 
    overflow: hidden;
    img {
      width: 100%;
      opacity: 0.75;
    }
    p {
      position: absolute;
      z-index: 1;
      top: 50%;
      margin: 0 10%;
      width: 80%;
      background: rgba(255, 255, 255, 0.5);
      text-align: center;
      color: black;
      font-size: 2em;
    }
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .wrapper {
    span {
      p {
        font-size: 1.5em;
      }
    }
  }
}
@media (max-width: 599px) {
  .button {
    button {
      width: 35%;
    }
  }
  .wrapper {
    height: 40vw;
    span {
      p {
        font-size: 1em;
      }
    }
  }
}
