<h3>Learning Experience</h3>
<p>
  This project was created during the Harvard (CS50) computer science
  certificate. I was pretty new to coding at this point and looking back I
  probably took on a project that was a little too ambitious.
</p>
<p>
  This was my first time working with a full development stack. The CS50
  course only covered the absolute basics of the flask microframework and did
  not cover the SQLAlchemy at all except for an short guide included in
  the 'how to deploy your project to Heroku' section.
</p>
<h3>Javascript</h3>
<p>
  I first wrote the code for this website in vanilla JavaScript and I have to
  say DOM manipulation was a long and laborious process. I also initially
  created functions in the global scope polluting the window object. I
  refactored my code after following the Pluralsight JavaScript
  <a href='https://app.pluralsight.com/library/courses/javascript-practical-design-patterns/table-of-contents'
  target='_blank'>
    Practical Design Patterns course
  </a>  to improve the code quality.
</p>
<p>
  At the same time as refactoring I decided to implement JQuery to clean up my
  code even further as this made DOM manipulation much less verbose.
</p>
<h3>Python</h3>
<h4>General Python</h4>
<p>
  Whilst my Python code for this project does function as required I do feel
  that now I am more experienced I would write it differently were I to create
  a similar project. The routes are too long and should be calling functions
  to carry out tasks. That said to achieve the functionality that I have with
  this app I am still proud of what it can do.
</p>
<h4>Flask</h4>
<p>
  This was taught on the CS50 course and as such I found development using
  Flask quite simple compared to some other aspects of this project. Writing
  logic for the login, register and test pathways created the primary
  difficulties due to working with database queries.
</p>
<p>
  To critisise my app in some capacity I would say that the templating could
  be improved by better nesting of HTML elements especially areas where there
  are large areas of overlap in layout. Although with modern frontend
  frameworks such as Angular and React taking the need for templating away
  from more modern applications this would be handled outside of the Flask
  system.
</p>
<h4>SQLAlchemy</h4>
<p>
  Let me start with this, trying to teach yourself an ORM from just the
  documentation is not for the faint hearted. I had many failures on my way to
  success with SQLAlchemy much of which was the result of my failing to
  correctly interpret the documentation the first time I read it requiring me
  to go back and reread it again.
</p>
<p>
  Needless to say I persisted and am now a lot more comfortable building and
  using SQLAlchemy. I have since used it twice more as I am following the
  <a href='https://www.edx.org/course/cs50s-web-programming-with-python-and-javascript'
  target='_blank'>
    Harvard web development programme
  </a>
</p>
<h3>CSS</h3>
<h4>Flexbox</h4>
<p>
  The original implementation of this app was via the flexbox layout module.
  The shorter projects that I had created up until this point had just used
  CSS margin/padding to position elements on the screen and so I wanted to try
  something new and Flexbox I felt was my next step. Although Flexbox does
  offer good functionality having learnt about CSS Grid I felt that the
  grid system is vastely easier to implement and therefore I elected to change
  the layout to CSS Grid.
</p>

