<div class='project-area'>
  <article *ngIf='elementIsInDom["summary"]'
  [@scaleContentY]='elementIsInDom["summary"]'
  [@slideUpDown]='elementIsInDom["summary"]'>
    <h2>Summary</h2>
    <p>
      These sections detail the projects that I have built, all from the ground up.
    </p>
    <p>
      Along with a description of each project is listed the technologies and
      languages used to produce the app. Also each project has snippets of
      relevent code and describes the trials and tribulations in each
      case.
    </p>
    <p>
      The full code base for all projects can be found in my respositories on
      <a href='https://github.com/rvjonah'>Github</a>.
    </p>
  </article>
</div>
