<div class='project-area'>
  <h2>Books using goodreads API</h2>
  <img
    src='../../../assets/images/javascript_logo.png'
    alt='JavaScript logo'
    class='techlogo'>
  <img
    src='../../../assets/images/goodreads.jpeg'
    alt='Book logo'
    class='projectlogo'>
  <img
    src='../../../assets/images/python_small.png'
    alt='Python'
    class='techlogo'>
  <article>
    <button type='button' name='overview' (click)='toggleElement("overview")'>Overview</button>
    <button type='button' name='technology' (click)='toggleElement("tech")'>Technology</button>
    <button type='button' name='project-aims' (click)='toggleElement("aims")'>Project Aims</button>
    <button type='button' name='lessons' (click)='toggleElement("learning")'>Lessons</button>
    <button type='button' name='code' (click)='toggleElement("code")'>Code</button>
    <section *ngIf='elementIsInDom["overview"] === true'
    [@slideUpDown]='elementIsInDom["overview"]'
    [@scaleContentY]='elementIsInDom["overview"]'
    >
    <app-books-overview></app-books-overview>
  </section>
    <section *ngIf='elementIsInDom["tech"] === true'
    [@slideUpDown]='elementIsInDom["tech"]'
    [@scaleContentY]='elementIsInDom["tech"]'
    >
    <app-books-tech></app-books-tech>
  </section>
    <section *ngIf='elementIsInDom["aims"] === true'
    [@slideUpDown]='elementIsInDom["aims"]'
    [@scaleContentY]='elementIsInDom["aims"]'
    >
        <app-books-aims></app-books-aims>
    </section>
    <section *ngIf='elementIsInDom["learning"] === true'
    [@slideUpDown]='elementIsInDom["learning"]'
    [@scaleContentY]='elementIsInDom["learning"]'
    >
      <app-books-learning></app-books-learning>
    </section>
    <section *ngIf='elementIsInDom["code"] === true'
    [@slideUpDown]='elementIsInDom["code"]'
    [@scaleContentY]='elementIsInDom["code"]'
    >
      <app-books-code></app-books-code>
  </section>
  </article>
</div>
