<h3>Overview</h3>
<p>
  This project is probably the simplest of the projects that I have created.
  It is a simple collection of landing pages based on the forth coming
  remake of Final Fantasy VII by japanese game developer Square Enix.
</p>
<p>
  It was created as a first project on the Harvard web development with Python
  and JavaScript course.
</p>
<p>
  Due to server limitations I do not currently have this hosted live but the
  full code can be found
  <a href='https://github.com/RVJonah/Portfolio/tree/master/FFVII' target='_blank'>here</a>.
</p>
