<ul>
  <li>
    <a [routerLink]="['summary']" routerLinkActive='tabbed' class='summary'>
      Summary
    </a>
  </li>
  <li>
    <a [routerLink]="['ff7-remake']"  class='ff7' routerLinkActive='tabbed'>
      Final Fantasy VII Remake
    </a>
  </li>
  <li>
    <a [routerLink]="['vet-calculations-practice']" class='vetcalc' routerLinkActive='tabbed'>
      Vet Calculations Practice
    </a>
  </li>
  <li>
      <a [routerLink]="['portfolio']" class='portfolio' routerLinkActive='tabbed'>
        My Portfolio
      </a>
    </li>
</ul>
