<h3>Technologies Involved</h3>
<ul>
  <li>Backend
    <ul>
      <li>Server: Python flask microframework</li>
      <li>ORM: Flask SQLAlchemy</li>
      <li>Database: PostgreSQL via Heroku Postgres</li>
      <li>Tests served via a REST API</li>
    </ul>
  </li>
  <li>Frontend
    <ul>
      <li>
        JavaScript: Built using a combination of vanilla JavaScript and
        JQuery
      </li>
      <li>
        HTML: Semantic HTML5 which should meet Web Content Accessibility
        Guidelines
      </li>
      <li>CSS: CSS Grid format</li>
    </ul>
  </li>
</ul>
