<div class='project-area'>
    <h2>My Portfolio Page</h2>
    <img
      src='../../../assets/images/css3_logo.jpg'
      alt='CSS 3 logo'
      class='techlogo'>
    <img
      src='../../../assets/images/angular_logo.png'
      alt='Angular logo'
      class='projectlogo'>
    <img
      src='../../../assets/images/html5_logo.png'
      alt='HTML5 logo'
      class='techlogo'>
    <article>
      <button type='button' name='overview' (click)='toggleElement("overview")'>Overview</button>
      <button type='button' name='technology' (click)='toggleElement("tech")'>Technology</button>
      <button type='button' name='project-aims' (click)='toggleElement("aims")'>Project Aims</button>
      <button type='button' name='lessons' (click)='toggleElement("learning")'>Lessons</button>
      <button type='button' name='code' (click)='toggleElement("code")'>Code</button>
      <section *ngIf='elementIsInDom["overview"] === true'
      [@slideUpDown]='elementIsInDom["overview"]'
      [@scaleContentY]='elementIsInDom["overview"]'
      >
      <app-portfolio-overview></app-portfolio-overview>
    </section>
      <section *ngIf='elementIsInDom["tech"] === true'
      [@slideUpDown]='elementIsInDom["tech"]'
      [@scaleContentY]='elementIsInDom["tech"]'
      >
      <app-portfolio-tech></app-portfolio-tech>
    </section>
      <section *ngIf='elementIsInDom["aims"] === true'
      [@slideUpDown]='elementIsInDom["aims"]'
      [@scaleContentY]='elementIsInDom["aims"]'
      >
          <app-portfolio-aims></app-portfolio-aims>
      </section>
      <section *ngIf='elementIsInDom["learning"] === true'
      [@slideUpDown]='elementIsInDom["learning"]'
      [@scaleContentY]='elementIsInDom["learning"]'
      >
        <app-portfolio-learning></app-portfolio-learning>
      </section>
      <section *ngIf='elementIsInDom["code"] === true'
      [@slideUpDown]='elementIsInDom["code"]'
      [@scaleContentY]='elementIsInDom["code"]'
      >
        <app-portfolio-code></app-portfolio-code>
    </section>
    </article>
  </div>

