<h3>Learning Experience</h3>
<p>
  My second full stack development project, Books, was much quicker and easier to build
  than my veterinary calculations practice. My familiarity with the Flask microframework
  and SQLAlchemy meant that server side development was much more rapid.
</p>
<h3>Javascript</h3>
<p>
  Using slightly modified versions of the asynchronous JavaScript written for my vet calculations
  app made the login and register page fast and easy to build. This taught me the importance of writing 
  code that can be reused easily between applications.
</p>
<h3>Goodreads/API</h3>
<p>
  Goodreads API use was very simple. Registration can be done quickly using an email address and the an API key 
  is generated for the user. The returned response is a JSON object which contains details of the book queried.
</p>
<p>
  Creating my own API in the image of goodreads was relatively easy using Flask's jsonify function on a python dict.
  This allowed me to practice my manipulation of dicts to add the keys required to insert the goodreads information to my API.
</p>


