$text-colour: white;
$background-colour: black;
$nav-hover-background-color: white;
$nav-hover-text-colour: black;
$link-colour: #73a9c2;
$h2-colour: #73a9c2;
$summary-background-colour:  rgb(0, 0, 255, 0.5);
$ff7-background-colour: rgb(255, 0, 0, 0.5);;
$vetcalc-background-colour: rgb(0, 255, 0, 0.5);
$portfolio-background-colour: rgb(143, 157, 128, 0.5);
$books-background-colour: rgba(250, 228, 27, 0.767);
$pinochios-background-colour: rgb(0, 140, 69);
$flack-background-color: rgb(63, 15, 63);
