<div class='content'>
  <h1>Welcome to David Barker's Portfolio Page</h1>
  <article>
    <div class='showcase'>
      <ul>
        <li>
            <span class='now animated'>David...</span>
            <span class='this animated'>...Barker...</span>
            <span class='is animated'>...Web Design...</span>
            <span class='coding animated'>...providing..</span>
        </li>
        <li>
          <h2 class='frontend animated'>Front End Development</h2>
          <img src='../../assets/images/html5_logo.png' class='html animated'>
          <img src='../../assets/images/css3_logo.jpg' class='css animated'>
          <img src='../../assets/images/javascript_logo.png' class='javascript animated'>
          <img src='../../assets/images/sass_logo.png' class='sass animated'>
        </li>
        <li>
          <h2 class='backend animated'>Back End Development</h2>
          <img src='../../assets/images/python_small.png' class='python animated'>
          <img src='../../assets/images/php_logo.png' class='php animated'>
          <img src='../../assets/images/flask_logo.png' class='flask animated'>
          <img src='../../assets/images/mysql_logo.png' class='sql animated'>
        </li>
        <li>
          <h2 class="projects animated">Full Stack Projects</h2>
          <img src='../../assets/images/vet_logo.jpg' class='vet animated'>
          <img src='../../assets/images/ffvii_logo.jpg' class='ff7 animated'>
        </li>
      </ul>
    </div>
    <div class='buttons'>
      <button type='button' (click)='stopStartAnimation()'>Stop/Start</button>
    </div>
  </article>
  <article>
    <h2>My Services</h2>
    <app-image-carousel [images]=vetCalcImages ></app-image-carousel>
  </article>
  <article>
  </article>
</div>
