$color:  rgb(173, 216, 230, 0.5);
$font: fantasy;
*{
    margin: 0;
    padding: 0;
}
%box {
    background-color: rgb(255, 255, 255, 0.8);
    border: 2px solid black;
}
article {
    display: contents;
}
#content {
    display: grid;
    grid-template-columns: 5% repeat(6, 15%) 5%;
    grid-template-rows: 4em repeat(5, auto);
    grid-template-areas: "nav nav nav nav nav nav nav nav "
    ". title title title title title title ."
    ". left left center center right right ."
    ". . . . . . . ."
    ". . . . . . . . "
    ". . . . . . . ."
    "footer footer footer footer footer footer footer footer";
    background-color: #0025fa;
    background-size: 100%;
    background-blend-mode: screen;
    background-repeat: repeat-y;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 14px;
}
figcaption {
    margin: 0 auto 0 auto;
}
footer {
    background-color: #0025fa;
    border: 2px solid black;
    margin: 0;
    padding: 0;
    font-size: 14px;
    p {
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: rgb(255, 255, 255, 0.8);
        grid-area: footer;
        text-align: right;
        line-height: 200%;
    }
}
h1 {
    @extend %box;
    grid-area: title;
    width: 90%;
    margin: 2% auto 2% auto;
    line-height: 200%;
    font-family: $font;
}
img {
    width: 100%;
}
main {
    display: contents;
}
p {
    width: 90%;
    padding: 1% 0.5%;
    margin: 1% auto 1% auto; 
    text-align: left;
}
section {
    @extend %box;
    margin: 2% 0;
}
.subtitle {
    @extend %box;
    grid-column: 2 / 8;
    grid-row: 3 / 4;
    width: 90%;
    margin: 2% auto 2% auto;
    line-height: 200%;
}