
@import 'general';
@import 'nav';
$color: rgb(10, 186, 245);
$color2: rgb(173, 216, 230, 0.5);

.carousel-item {
    overflow: hidden;
    width: 100%;
    }
    .carousel-item img {
        max-width: 640px;
        max-height: 360px;
    }
.container1 {
    max-width: 640px;
    width: auto;
    height: auto;
    margin-bottom: 2%;
    border: 2px solid black;
    background-color: rgb(173, 216, 230);
    background-color: $color2;
    padding: 1%;
}
.container2 {
    width: 100%;
    margin-bottom: 2%;
    border: 2px solid black;
    background-color: rgb(173, 216, 230);
    background-color: $color2;
    padding: 1%;
}
.img-responsive {
    max-width: 100%;
    padding: 2px;
    border: 2px solid black;
}
.row {
    margin: 2%;
}
