$color:  rgb(173, 216, 230, 0.5);
$font: fantasy;
body {
    background-color: #0025fa;
    background-size: 100%;
    background-blend-mode: screen;
    background-repeat: repeat-y;
    text-align: center;
}
%box {
    padding: 1%;
    background-color: rgb(173, 216, 230);
    background-color: $color;
    border: 2px solid black ;
}
.caption {
    font-size: 1.2vw;
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.comment {
    font-size: 1.2vw;
}
.post {
    @extend %box;
    text-align: justify;
    margin: 1% 10% 1% 10%;
    font-size: 1.3vw;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.title {
    @extend %box;
    font-size: 3vw;
    font-family: font;
    margin-bottom: 2%;
}
.information {
    @extend %box;
    font-size: 2vw;
    font-family: $font;
    vertical-align: top;
    div {
        vertical-align:top;
        display: inline-block;
        height: 100%;
        width:30%;
        margin: 0 1% 0 1%;
        ul{
            text-align: left;
        }
        table {
            margin: auto;
        }
    }
}
.profilepic {
        margin: auto;
        width: 100%;
}
footer {
    @extend %box;
    padding: 0.5%;
    margin: 0;
    font-size: 1.2vw;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: right;
}
@media (max-width: 749px) {
    .theme {
        audio {
            display: none;
        }
        p {
            display: none;
        }

    }
}
@media (min-width: 750px) {
    .theme {
        audio {
            width: 100%;
        }
    }

}