$color: rgb(10, 186, 245);
.navbar {
    font-size: 2vw;
    a {
        background-color: $color;
        display: inline-block;
        text-decoration: none;
        color: black;
        margin: 0;
        line-height: 50px;
        border: 2px solid black;
        background-blend-mode: screen;
        background-size: 100% 100%;
        background-repeat: none;
    }
    a:visited {
        color: black;
    }
    a:hover {
        background-blend-mode: normal;
        color: white;
    }
}
#cloud {
    background-image: url("../images/cloud_nav.jpg");
}
#tifa {
    background-image: url("../images/tifa_nav.jpg");
}
#aerith {
    background-image: url("../images/aerith_nav.jpg");
}
#home {
    background-image: url("../images/logo_nav.jpg");
}
#barret {
    background-image: url("../images/barret_nav.jpg");
}
#gallery {
    background-image: url("../images/gallery.jpg");
}
@media (max-width: 599px) {
    .navbar {
        a {
            width: 14%;
        }
    }
    iframe {
        width: 256px;
        height: 144px;
    }
}
@media (min-width: 600px) and (max-width: 799px) {
    .navbar {
        a {
            width: 15%;
        }
    }
    iframe {
        width: 512px;
        height: 288px;
    }

}
@media (min-width: 800px) and (max-width: 1199px) {
    .navbar {
        a {
            width: 15%;
        }
    }
    iframe {
        width: 768px;
        height: 432px;
    }
}
@media (min-width: 1200px) and (max-width: 1699px) {
    .navbar {
        a {
            width: 15%;
        }
    }
    iframe {
        width: 1024px;
        height: 576px;
    }
}
@media (min-width: 1700px){
    .navbar {
        a {
            width: 16%;
        }
    }
    iframe {
        width: 1280px;
        height: 720px;
    }

}