<h2>Project Overview</h2>
<p>
  Flack is a simple web chat service created with a likeness to Slack. It uses Flask microframework with the
  Flask Socket-IO library to work with websockets. Users are able to log in, create,
  join and leave rooms. Users are also able to form private chat rooms with other users just by clicking
  on a users name when in a channel.
</p>
<p>
  Due to app limitations this project is currently not hosted live however, the full code can
  be found on my <a href="https://github.com/RVJonah/Flack" target='_blank'>github</a>.
</p>
